{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://consumo.tributos.gov.br:18016/servico/calcular-tributos-consumo/api","description":"Generated server url"}],"tags":[{"name":"Base de Cálculo - VERSÃO BETA","description":"Serviço para Base de Cálculo"},{"name":"Calculadora - VERSÃO BETA","description":"Calculadora de Tributos"},{"name":"NFS-e - VERSÃO BETA","description":"Serviço para cálculo de Base de Cálculo de NFS-e"},{"name":"Dados Abertos - VERSÃO BETA","description":"Consultas para os Dados Abertos"},{"name":"Pedágio - VERSÃO BETA","description":"IVA - Calculadora de Tributos para o Pedágio"}],"paths":{"/calculadora/xml/validate":{"get":{"tags":["Calculadora - VERSÃO BETA"],"summary":"Tipos de DFe","description":"Tipos de DFe para validação de XML","operationId":"getDocumentosValidacao","responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TipoDocumentoDTO"},"examples":{"Tipos de DFe Example":{"description":"Tipos de DFe Example","value":[{"nome":"NFe","mnemonico":"nfe","versaoNotaTecnica":"v1.30"},{"nome":"NFCe","mnemonico":"nfce","versaoNotaTecnica":"v1.30"},{"nome":"NFSe","mnemonico":"nfse","versaoNotaTecnica":"ND"},{"nome":"CTe","mnemonico":"cte","versaoNotaTecnica":"v1.10"},{"nome":"CTe Simplificado","mnemonico":"cte-simplificado","versaoNotaTecnica":"v1.10"},{"nome":"BPe","mnemonico":"bpe","versaoNotaTecnica":"v1.10"},{"nome":"NF3E","mnemonico":"nf3e","versaoNotaTecnica":"v1.10"}]}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/xml/validate"}}}}}}}},"post":{"tags":["Calculadora - VERSÃO BETA"],"summary":"Validação de XML","description":"Valida os dados no formato XML","operationId":"validate","parameters":[{"name":"tipo","in":"query","description":"Tipo do XML","required":true,"schema":{"type":"string","enum":["nfe","nfce","nfse","cte","cte-simplificado","bpe","bpe-tm","nf3e"]}},{"name":"subtipo","in":"query","description":"Subtipo do XML","required":true,"schema":{"type":"string","enum":["grupo","nota"]}}],"requestBody":{"description":"XML a ser validado","content":{"application/xml":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Validação realizada com sucesso","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Estrutura e/ou dados informados em formato não reconhecido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"422":{"description":"Erro de validação","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/xml/generate":{"get":{"tags":["Calculadora - VERSÃO BETA"],"summary":"Tipos de DFe","description":"Tipos de DFe para geração de XML","operationId":"getDocumentosGeracao","responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TipoDocumentoDTO"},"examples":{"Tipos de DFe Example":{"description":"Tipos de DFe Example","value":[{"nome":"NFe","mnemonico":"nfe","versaoNotaTecnica":"v1.30"},{"nome":"NFCe","mnemonico":"nfce","versaoNotaTecnica":"v1.30"},{"nome":"CTe","mnemonico":"cte","versaoNotaTecnica":"v1.10"},{"nome":"CTe Simplificado","mnemonico":"cte-simplificado","versaoNotaTecnica":"v1.10"},{"nome":"BPe","mnemonico":"bpe","versaoNotaTecnica":"v1.10"},{"nome":"NF3E","mnemonico":"nf3e","versaoNotaTecnica":"v1.10"}]}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/xml/generate"}}}}}}}},"post":{"tags":["Calculadora - VERSÃO BETA"],"summary":"Geração de XML","description":"Converte os dados para o formato XML","operationId":"generate","parameters":[{"name":"tipo","in":"query","description":"Tipo do documento","required":true,"schema":{"type":"string","enum":["nfe","nfce","nfse","cte","cte-simplificado","bpe","bpe-tm","nf3e"]}}],"requestBody":{"description":"Dados do CBS/IBS/IS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ROCDomain"}}},"required":true},"responses":{"200":{"description":"Conversão realizada com sucesso","content":{"application/xml":{"schema":{"type":"string"}}}},"400":{"description":"Estrutura e/ou dados informados em formato não reconhecido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"422":{"description":"Erro de validação","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/regime-geral":{"post":{"tags":["Calculadora - VERSÃO BETA"],"summary":"Cálculo do tributo","description":"Calcula os tributos a partir dos dados de uma operação de consumo","operationId":"calcularTributos","requestBody":{"description":"Dados de uma operação de consumo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperacaoInput"}}},"required":true},"responses":{"200":{"description":"Cálculo realizado com sucesso","headers":{"x-warning-dados-simulados":{"description":"Indica que os dados são simulados. Valores possíveis: 1 (alíquotas da CBS e do IBS ainda não definidas em lei), 2 (alíquotas da CBS e do IBS, e redutor em Compras Governamentais ainda não definidos em lei), 3 (alíquotas da CBS e do IBS, alíquotas e Classificações Tributárias do IS ainda não definidos em lei), 4 (alíquotas da CBS e do IBS, redutor em Compras Governamentais fictícios, alíquotas e Classificações Tributárias do IS ainda não definidos em lei), 5 (para o cClassTrib informado a alíquota ainda não foi definida em lei). ","style":"simple","schema":{"type":"integer","example":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ROCDomain"}}}},"400":{"description":"Estrutura e/ou dados informados em formato não reconhecido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"422":{"description":"Erro de validação","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/pedagio":{"post":{"tags":["Pedágio - VERSÃO BETA"],"summary":"Cálculo do tributo","description":"Calculo do pedágio","operationId":"calcularTributo","requestBody":{"description":"Dados para cálculo do pedágio","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedagioInput"}}},"required":true},"responses":{"200":{"description":"Cálculo realizado com sucesso","headers":{"x-warning-dados-simulados":{"description":"Indica que os dados são simulados. Valores possíveis: 1 (alíquotas da CBS e do IBS ainda não definidas em lei).","style":"simple","schema":{"type":"integer","example":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedagioOutput"}}}},"400":{"description":"Estrutura e/ou dados informados em formato não reconhecido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"422":{"description":"Erro de validação","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/nfse/base-calculo":{"post":{"tags":["NFS-e - VERSÃO BETA"],"summary":"Base de Cálculo NFS-e","description":"Afere a Base de Cálculo de uma NFS-e no período de transição. ATENÇÃO: Os campos PIS e COFINS não podem ser informados a partir de 2027. O campo ISS não pode ser informado a partir de 2033.","operationId":"calcularBaseCalculo","requestBody":{"description":"Dados da base de cálculo da NFS-e","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NfseBaseCalculoInput"}}},"required":true},"responses":{"200":{"description":"Cálculo realizado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NfseBaseCalculoOutput"}}}},"400":{"description":"Estrutura e/ou dados informados em formato não reconhecido ou campos incompatíveis com o ano do fato gerador informado (PIS e COFINS a partir de 2027; ISS a partir de 2033)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"422":{"description":"Erro de validação","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/base-calculo/is-mercadorias":{"post":{"tags":["Base de Cálculo - VERSÃO BETA"],"summary":"Imposto Seletivo","description":"Afere a Base de Cálculo do Imposto Seletivo de uma operação de consumo. ATENÇÃO: Os campos ICMS e ISS não podem ser informados a partir de 2033.","operationId":"calcularISMercadorias","requestBody":{"description":"Dados da base de cálculo do Imposto Seletivo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseCalculoISMercadoriasInput"}}},"required":true},"responses":{"200":{"description":"Cálculo realizado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseCalculoISMercadoriasModel"}}}},"400":{"description":"Estrutura e/ou dados informados em formato não reconhecido ou campos incompatíveis com o ano do fato gerador informado (ICMS e ISS a partir de 2033)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"422":{"description":"Erro de validação","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/base-calculo/cbs-ibs-mercadorias":{"post":{"tags":["Base de Cálculo - VERSÃO BETA"],"summary":"CIBS","description":"Afere a Base de Cálculo da CBS/IBS de uma operação de consumo. ATENÇÃO: Os campos PIS, COFINS, PIS Importação e COFINS Importação não podem ser informados a partir de 2027. Os campos ICMS e ISS não podem ser informados a partir de 2033.","operationId":"calcularCibs","requestBody":{"description":"Dados da base de cálculo do CIBS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseCalculoCibsInput"}}},"required":true},"responses":{"200":{"description":"Cálculo realizado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseCalculoISMercadoriasModel"}}}},"400":{"description":"Estrutura e/ou dados informados em formato não reconhecido ou campos incompatíveis com o ano do fato gerador informado (PIS, COFINS, PIS Importação e COFINS a partir de 2027; ICMS e ISS a partir de 2033)","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"422":{"description":"Erro de validação","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/dados-abertos/versao":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Versão do Aplicativo e do Banco de Dados","description":"Obtém a versão do aplicativo e do banco de dados","operationId":"consultarVersao","responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersaoOutput"},"examples":{"Versão Example":{"description":"Versão Example","value":{"versaoApp":"0.0.0-SNAPSHOT","versaoDb":"v0011","descricaoVersaoDb":"Nova carga de classificação tributária e novos campos em CLASSIFICACAO_TRIBUTARIA e SITUACAO_TRIBUTARIA.","dataVersaoDb":"2025-10-16","ambiente":"online"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/versao"}}}}}}}}},"/calculadora/dados-abertos/ufs":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Unidade Federativa","description":"Obtém a lista das unidades federativas cadastradas","operationId":"consultarUfs","responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UfDadosAbertosOutput"},"examples":{"UFs Example":{"description":"UFs Example","value":[{"sigla":"RO","nome":"RONDÔNIA","codigo":11},{"sigla":"AC","nome":"ACRE","codigo":12}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Parâmetro inválido ou ausente.","instance":"/api/calculadora/dados-abertos/ufs"}}}}}},"404":{"description":"Erro na URL da requisição","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Not Found Example":{"description":"Not Found Example","value":{"type":"about:blank","title":"Not Found","status":404,"detail":"No static resource calculadora/dados-abertos/ufs/1.","instance":"/api/calculadora/dados-abertos/ufs/1"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/ufs"}}}}}}}}},"/calculadora/dados-abertos/ufs/municipios":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Município","description":"Obtém a lista dos municípios cadastrados com base na sigla de uma unidade federativa","operationId":"consultarMunicipiosPorSiglaUf","parameters":[{"name":"siglaUf","in":"query","description":"Sigla da unidade federativa","required":true,"schema":{"type":"string"},"example":"RS"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MunicipioDadosAbertosOutput"},"examples":{"Municípios Example":{"description":"Municípios Example","value":[{"codigo":4314902,"nome":"Porto Alegre"},{"codigo":4305108,"nome":"Caxias do Sul"}]}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/municipios/RS"}}}}}}}}},"/calculadora/dados-abertos/situacoes-tributarias/imposto-seletivo":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Situação Tributária (CST)","description":"Obtém a lista das situações tributárias cadastradas para Imposto Seletivo","operationId":"consultarSituacoesTributariasImpostoSeletivo","parameters":[{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2027-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SituacaoTributariaDadosAbertosOutput"},"examples":{"Situações Tributárias Example":{"description":"Situações Tributárias Example","value":[{"id":19,"codigo":"000","descricao":"Tributado com Imposto Seletivo"},{"id":20,"codigo":"100","descricao":"Imunidade"}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/situacoes-tributarias/imposto-seletivo"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/situacoes-tributarias/imposto-seletivo"}}}}}}}}},"/calculadora/dados-abertos/situacoes-tributarias/cbs-ibs":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Situação Tributária (CST)","description":"Obtém a lista das situações tributárias cadastradas vigentes em uma determinada data para CBS/IBS","operationId":"consultarSituacoesTributariasCbsIbs","parameters":[{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2026-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SituacaoTributariaDadosAbertosOutput"},"examples":{"Situações Tributárias Example":{"description":"Situações Tributárias Example","value":[{"id":1,"codigo":"000","descricao":"Tributação integral"},{"id":2,"codigo":"010","descricao":"Tributação com alíquotas uniformes"},{"id":3,"codigo":"011","descricao":"Tributação com alíquotas uniformes reduzidas"},{"id":4,"codigo":"200","descricao":"Alíquota reduzida"}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/situacoes-tributarias/cbs-ibs"}}}}}}}}},"/calculadora/dados-abertos/ncm":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Nomenclatura Comum do Mercosul (NCM)","description":"Obtém informações sobre a NCM em relação ao Imposto Seletivo","operationId":"consultarNcm","parameters":[{"name":"ncm","in":"query","description":"Código NCM sem formatação","required":true,"schema":{"type":"string"},"example":24021000},{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2027-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NcmDadosAbertosOutput"},"examples":{"NCM Example":{"description":"NCM Example","value":{"tributadoPeloImpostoSeletivo":true,"aliquotaAdValorem":13,"aliquotaAdRem":21.3,"capitulo":"Tabaco e seus sucedâneos manufaturados; produtos, mesmo com nicotina, destinados à inalação sem combustão; outros produtos que contenham nicotina destinados à absorção da nicotina pelo corpo humano.","posicao":"Charutos, cigarrilhas e cigarros, de tabaco ou dos seus sucedâneos.","subitem":"Charutos e cigarrilhas, que contenham tabaco","unidade":"VN"}}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/ncm/24021000"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/ncm/24021000"}}}}}}}}},"/calculadora/dados-abertos/nbs":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Nomenclatura Brasileira de Serviços (NBS)","description":"Obtém informações sobre a NBS em relação ao Imposto Seletivo","operationId":"consultarNbs","parameters":[{"name":"nbs","in":"query","description":"Código NBS sem formatação","required":true,"schema":{"type":"string"},"example":114052200},{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2027-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NbsDadosAbertosOutput"},"examples":{"NBS Example":{"description":"NBS Example","value":{"tributadoPeloImpostoSeletivo":false,"capitulo":"Serviços veterinários","posicao":"Serviços veterinários para animais de corte","item":"Serviços de atendimento, assistência ou tratamento para animais de corte"}}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/nbs/114052200"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/nbs/114052200"}}}}}}}}},"/calculadora/dados-abertos/fundamentacoes-legais":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Fundamentação Legal","description":"Obtém informações sobre as fundamentações legais","operationId":"consultarFundamentacoesLegais","parameters":[{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2027-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundamentacaoClassificacaoDadosAbertosOutput"},"examples":{"Fundamentações Legais Example":{"description":"Fundamentações Legais Example","value":[{"codigoClassificacaoTributaria":"000001","descricaoClassificacaoTributaria":"Situações tributadas integralmente pelo IBS e CBS.","codigoSituacaoTributaria":"000","descricaoSituacaoTributaria":"Tributação integral","conjuntoTributo":"CBS e IBS","texto":"","textoCurto":"","referenciaNormativa":"LIVRO I \n\nDO IMPOSTO SOBRE BENS E SERVIÇOS (IBS) E DA CONTRIBUIÇÃO SOCIAL SOBRE BENS E SERVIÇOS (CBS) \n\nTÍTULO I \n\nDAS NORMAS GERAIS DO IBS E DA CBS \n\nCAPÍTULO I \n\nDISPOSIÇÕES PRELIMINARES"},{"codigoClassificacaoTributaria":"000002","descricaoClassificacaoTributaria":"Exploração de via","codigoSituacaoTributaria":"000","descricaoSituacaoTributaria":"Tributação integral","conjuntoTributo":"CBS e IBS","texto":"Art. 11. Considera-se local da operação com:\nVIII - serviço de exploração de via, mediante cobrança de valor a qualquer título, incluindo tarifas, pedágios e quaisquer outras formas de cobrança, o território de cada Município e Estado, ou do Distrito Federal, proporcionalmente à correspondente extensão da via explorada;","textoCurto":"Art. 11, VIII","referenciaNormativa":"LIVRO I \n\nDO IMPOSTO SOBRE BENS E SERVIÇOS (IBS) E DA CONTRIBUIÇÃO SOCIAL SOBRE BENS E SERVIÇOS (CBS) \n\nTÍTULO I \n\nDAS NORMAS GERAIS DO IBS E DA CBS \n\nCAPÍTULO II\n\nDO IBS E DA CBS SOBRE OPERAÇÕES COM BENS E SERVIÇOS\n\nSeção IV\n\nDo Local da Operação"}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/fundamentacoes-legais"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/fundamentacoes-legais"}}}}}}}}},"/calculadora/dados-abertos/classificacoes-tributarias/{idSituacaoTributaria}":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Classificação Tributária (cClassTrib) - DEPRECATED","description":"Obtém a lista das classificações tributárias (cClassTrib) cadastradas com base no ID da situação tributária. DEPRECATED: Use os novos endpoints /classificacoes-tributarias/imposto-seletivo/{cst} ou /classificacoes-tributarias/cbs-ibs/{cst} que trabalham com CST ao invés de IDs.","operationId":"consultarClassificacoesTributariasPorIdSituacaoTributaria","parameters":[{"name":"idSituacaoTributaria","in":"path","description":"Id da Situação Tributária (CST)","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2026-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificacaoTributariaDadosAbertosOutput"},"examples":{"Classificações Tributárias Example":{"description":"Classificações Tributárias Example","value":[{"codigo":"000003","descricao":"Regime automotivo - projetos incentivados (art. 311)","tipoAliquota":"Padrão","nomenclatura":"NCM","descricaoTratamentoTributario":"Tributação integral","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":false,"indicaApropriacaoCreditoAdquirenteIbs":false,"indicaCreditoPresumidoFornecedor":false,"indicaCreditoPresumidoAdquirente":false,"tiposDfeClassificacao":[{"tipo":55,"sigla":"NFe","descricao":"Nota Fiscal Eletrônica"}],"dataAtualizacao":"2025-12-15"},{"codigo":"000004","descricao":"Regime automotivo - projetos incentivados (art. 312)","tipoAliquota":"Padrão","nomenclatura":"NCM","descricaoTratamentoTributario":"Tributação integral","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":false,"indicaApropriacaoCreditoAdquirenteIbs":false,"indicaCreditoPresumidoFornecedor":false,"indicaCreditoPresumidoAdquirente":false,"tiposDfeClassificacao":[{"tipo":55,"sigla":"NFe","descricao":"Nota Fiscal Eletrônica"}],"dataAtualizacao":"2025-12-15"}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/3244253"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/1"}}}}}}},"deprecated":true}},"/calculadora/dados-abertos/classificacoes-tributarias/imposto-seletivo":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Classificação Tributária (cClassTrib) para Imposto Seletivo","description":"Obtém a lista das classificações tributárias (cClassTrib) para Imposto Seletivo","operationId":"consultarClassificacoesTributariasImpostoSeletivo","parameters":[{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2027-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","headers":{"x-warning-dados-simulados":{"description":"Indica que os dados são simulados. Valores possíveis: 1 (alíquotas da CBS e do IBS ainda não definidas em lei).","style":"simple","schema":{"type":"integer","example":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificacaoTributariaDadosAbertosOutput"},"examples":{"Classificações Tributárias Imposto Seletivo Example":{"description":"Classificações Tributárias Imposto Seletivo Example","value":[{"codigo":"000001","descricao":"Primeiro fornecimento a qualquer título de bem","tipoAliquota":"Alíquotas Combinadas (Ad Valorem e Ad Rem)","nomenclatura":"NBS ou NCM","descricaoTratamentoTributario":"Tributação pelo Imposto Seletivo - Com Cálculo","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":false,"indicaApropriacaoCreditoAdquirenteIbs":false,"indicaCreditoPresumidoFornecedor":false,"indicaCreditoPresumidoAdquirente":false},{"codigo":"000002","descricao":"Arrematação em leilão público","tipoAliquota":"Alíquotas Combinadas (Ad Valorem e Ad Rem)","nomenclatura":"NBS ou NCM","descricaoTratamentoTributario":"Tributação pelo Imposto Seletivo - Com Cálculo","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":false,"indicaApropriacaoCreditoAdquirenteIbs":false,"indicaCreditoPresumidoFornecedor":false,"indicaCreditoPresumidoAdquirente":false}]},"Classificações Tributárias Imposto Seletivo Vazia Example":{"description":"Classificações Tributárias Imposto Seletivo Vazia Example","value":[]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/imposto-seletivo"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/imposto-seletivo"}}}}}}}}},"/calculadora/dados-abertos/classificacoes-tributarias/imposto-seletivo/{cst}":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Classificações Tributárias por CST - Imposto Seletivo","description":"Obtém a lista das classificações tributárias por CST para Imposto Seletivo","operationId":"listarPorCstImpostoSeletivo","parameters":[{"name":"cst","in":"path","description":"Código da Situação Tributária (CST)","required":true,"schema":{"type":"string"},"example":"000"},{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2027-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificacaoTributariaDadosAbertosOutput"},"examples":{"Classificações IS Example":{"description":"Classificações IS Example","value":[{"codigo":"000001","descricao":"Primeiro fornecimento a qualquer título de bem","tipoAliquota":"Alíquotas Combinadas (Ad Valorem e Ad Rem)","nomenclatura":"NBS ou NCM","descricaoTratamentoTributario":"Tributação pelo Imposto Seletivo - Com Cálculo","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":false,"indicaApropriacaoCreditoAdquirenteIbs":false,"indicaCreditoPresumidoFornecedor":false,"indicaCreditoPresumidoAdquirente":false,"tiposDfeClassificacao":[]}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Classificação Tributária (cClassTrib)","description":"Obtém a lista das classificações tributárias (cClassTrib) para CBS e IBS","operationId":"consultarClassificacoesTributariasCbsIbs","parameters":[{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2026-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificacaoTributariaDadosAbertosOutput"},"examples":{"Classificações Tributárias Example":{"description":"Classificações Tributárias Example","value":[{"codigo":"000004","descricao":"Regime automotivo - projetos incentivados (art. 312)","tipoAliquota":"Padrão","nomenclatura":"NCM","descricaoTratamentoTributario":"Tributação integral","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":true,"indicaApropriacaoCreditoAdquirenteIbs":true,"indicaCreditoPresumidoFornecedor":true,"indicaCreditoPresumidoAdquirente":false,"creditoOperacaoAntecedente":"Manutenção","percentualReducaoCbs":0,"percentualReducaoIbsUf":0,"percentualReducaoIbsMun":0,"tiposDfeClassificacao":[{"tipo":55,"sigla":"NFe","descricao":"Nota Fiscal Eletrônica"}]},{"codigo":"010001","descricao":"Operações do FGTS não realizadas pela Caixa Econômica Federal","tipoAliquota":"Uniforme setorial","nomenclatura":"NBS","descricaoTratamentoTributario":"Tributação com alíquotas uniformes - operações do FGTS","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":true,"indicaApropriacaoCreditoAdquirenteIbs":true,"indicaCreditoPresumidoFornecedor":false,"indicaCreditoPresumidoAdquirente":false,"creditoOperacaoAntecedente":"Manutenção","percentualReducaoCbs":0,"percentualReducaoIbsUf":0,"percentualReducaoIbsMun":0,"tiposDfeClassificacao":[{"tipo":91,"sigla":"NFSe","descricao":"Nota Fiscal de Serviços Eletrônica"},{"tipo":94,"sigla":"DERE","descricao":"Declaração Eletrônica de Regimes Específicos"}]}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs"}}}}}}}}},"/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs/{siglaDfe}/{cClassTrib}":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Classificação Tributária CBS/IBS por DFe e cClassTrib","description":"Obtém a classificação tributária CBS/IBS com base na sigla do DFe e código da classificação","operationId":"consultarValidadeDfeClassificacaoTributaria","parameters":[{"name":"siglaDfe","in":"path","description":"Sigla do tipo de Documento Fiscal Eletrônico","required":true,"schema":{"type":"string"},"example":"NFSE"},{"name":"cClassTrib","in":"path","description":"Código da classificação tributária","required":true,"schema":{"type":"string"},"example":"000001"},{"name":"data","in":"query","description":"Data do fato gerador (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2026-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidadeDfeClassificacaoTributariaDadosAbertosOutput"}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs/NFE/000001"}}}}}},"404":{"description":"Classificação tributária não encontrada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Not Found Example":{"description":"Not Found Example","value":{"type":"https://url-ambiente/errors/classificacao-tributaria-nao-encontrada","title":"Classificação Tributária Não Encontrada","status":404,"detail":"Classificação tributária não encontrada para DFe 'NFSE' e código '000001' na data '2026-01-01'","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs/NFSE/000001","timestamp":1.7607241111784844E9}}}}}},"422":{"description":"Erro de validação nos parâmetros","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Validation Error Example":{"description":"Validation Error Example","value":{"type":"http://url-ambiente/errors/sigla-dfe-nao-reconhecida","title":"Sigla DFe não reconhecida","status":422,"detail":"Sigla DFe inválida: NFEJ","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs/NFEe/620002","timestamp":1.7607290741335235E9}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-de-sistema-nao-previsto","title":"Erro de sistema não previsto","status":500,"detail":"Falha ao acessar o banco de dados","instance":"/api/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs/NFE/620001","timestamp":1.7607302862395124E9}}}}}}}}},"/calculadora/dados-abertos/classificacoes-tributarias/cbs-ibs/{cst}":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Classificações Tributárias por CST - CBS/IBS","description":"Obtém a lista das classificações tributárias por CST para CBS/IBS","operationId":"listarPorCstCbsIbs","parameters":[{"name":"cst","in":"path","description":"Código da Situação Tributária (CST)","required":true,"schema":{"type":"string"},"example":"000"},{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2025-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassificacaoTributariaDadosAbertosOutput"},"examples":{"Classificações CBS/IBS Example":{"description":"Classificações CBS/IBS Example","value":[{"codigo":"000001","descricao":"Situações tributadas integralmente pelo IBS e CBS.","tipoAliquota":"Padrão","nomenclatura":"NBS ou NCM","descricaoTratamentoTributario":"Tributação integral","dataAtualizacao":"2025-12-15","incompativelComSuspensao":false,"exigeGrupoDesoneracao":false,"possuiPercentualReducao":true,"indicaApropriacaoCreditoAdquirenteCbs":true,"indicaApropriacaoCreditoAdquirenteIbs":true,"indicaCreditoPresumidoFornecedor":false,"indicaCreditoPresumidoAdquirente":false,"tiposDfeClassificacao":[]}]}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/calculadora/dados-abertos/aliquota-uniao":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Alíquota Padrão ou de Referência","description":"Obtém a alíquota padrão ou de referência para CBS","operationId":"consultarAliquotaUniao","parameters":[{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2026-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","headers":{"x-warning-dados-simulados":{"description":"Indica que os dados são simulados. Valores possíveis: 1 (Classificações Tributárias para o Imposto Seletivo ainda não foram estabelecidas em lei).","style":"simple","schema":{"type":"integer","example":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AliquotaDadosAbertosOutput"},"examples":{"Alíquota União Example":{"description":"Alíquota União Example","value":{"aliquotaReferencia":0.9,"aliquotaPropria":0.9}}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/aliquota-uniao"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/aliquota-uniao"}}}}}}}}},"/calculadora/dados-abertos/aliquota-uf":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Alíquota Padrão ou de Referência para IBS Estadual","description":"Obtém a alíquota padrão ou de referência para IBS Estadual","operationId":"consultarAliquotaUf","parameters":[{"name":"codigoUf","in":"query","description":"Código da UF","required":true,"schema":{"type":"integer","format":"int64"},"example":43},{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2026-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","headers":{"x-warning-dados-simulados":{"description":"Indica que os dados são simulados. Valores possíveis: 1 (alíquotas da CBS ainda não definidas em lei).","style":"simple","schema":{"type":"integer","example":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AliquotaDadosAbertosOutput"},"examples":{"Alíquota UF Example":{"description":"Alíquota UF Example","value":{"aliquotaReferencia":0.9,"aliquotaPropria":0.9}}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/aliquota-uf"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/aliquota-uf"}}}}}}}}},"/calculadora/dados-abertos/aliquota-municipio":{"get":{"tags":["Dados Abertos - VERSÃO BETA"],"summary":"Alíquota Padrão ou de Referência para IBS Municipal","description":"Obtém a alíquota padrão ou de referência para IBS Municipal","operationId":"consultarAliquotaMunicipio","parameters":[{"name":"codigoMunicipio","in":"query","description":"Código do Município (Tabela IBGE)","required":true,"schema":{"type":"integer","format":"int64"},"example":4314902},{"name":"data","in":"query","description":"Data no padrão ISO 8601 (yyyy-MM-dd)","required":true,"schema":{"type":"string","format":"date"},"example":"2026-01-01"}],"responses":{"200":{"description":"Consulta realizada com sucesso","headers":{"x-warning-dados-simulados":{"description":"Indica que os dados são simulados. Valores possíveis: 1 (alíquotas da CBS e do IBS ainda não definidas em lei).","style":"simple","schema":{"type":"integer","example":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AliquotaDadosAbertosOutput"},"examples":{"Alíquota Município Example":{"description":"Alíquota Município Example","value":{"aliquotaReferencia":0.9,"aliquotaPropria":0.9}}}}}},"400":{"description":"Requisição com problema","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Bad Request Example":{"description":"Bad Request Example","value":{"type":"about:blank","title":"Bad Request","status":400,"detail":"Required parameter 'data' is not present.","instance":"/api/calculadora/dados-abertos/aliquota-municipio"}}}}}},"500":{"description":"Erro interno na API","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"},"examples":{"Internal Server Error Example":{"description":"Internal Server Error Example","value":{"type":"http://url-ambiente/errors/erro-interno","title":"Erro interno na API","status":500,"detail":"Falha ao processar a requisição.","instance":"/api/calculadora/dados-abertos/aliquota-municipio"}}}}}}}}}},"components":{"schemas":{"ProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{}}}},"AjusteCompetenciaDomain":{"type":"object","properties":{"competApur":{"type":"string","description":"Ano e mês referência do período de apuração (AAAA-MM)"},"vIBS":{"type":"number","description":"Valor do IBS"},"vCBS":{"type":"number","description":"Valor da CBS"}}},"CBSDomain":{"type":"object","properties":{"pCBS":{"type":"number","description":"Alíquota da CBS"},"gDif":{"$ref":"#/components/schemas/DiferimentoDomain","description":"Grupo de Informações do Diferimento"},"gDevTrib":{"$ref":"#/components/schemas/DevolucaoTributosDomain","description":"Grupo de Informações da devolução de tributos"},"gRed":{"$ref":"#/components/schemas/ReducaoAliquotaDomain","description":"Grupo de Informações da redução da alíquota"},"vCBS":{"type":"number","description":"Valor da CBS"},"memoriaCalculo":{"type":"string","description":"Memória de Cálculo"}}},"CBSTotalDomain":{"type":"object","properties":{"vDif":{"type":"number","description":"Valor total do diferimento"},"vDevTrib":{"type":"number","description":"Valor total de devolução de tributos"},"vCBS":{"type":"number","description":"Valor total da CBS"},"vCredPres":{"type":"number","description":"Valor total do crédito presumido"},"vCredPresCondSus":{"type":"number","description":"Valor total do crédito presumido em condição suspensiva"}}},"CreditoPresumidoIBSZFMDomain":{"type":"object","properties":{"competApur":{"type":"string","description":"Ano e mês referência do período de apuração (AAAA-MM)"},"tpCredPresIBSZFM":{"type":"integer","format":"int32","description":"Tipo de classificação de acordo com o art. 450, § 1º, da LC 214/25 para o cálculo do crédito presumido na ZFM"},"vCredPresIBSZFM":{"type":"number","description":"Valor do crédito presumido calculado sobre o saldo devedor apurado"}}},"CreditoPresumidoOperacaoDomain":{"type":"object","properties":{"vBCCredPres":{"type":"number","description":"Valor da Base de Cálculo do Crédito Presumido da Operação"},"cCredPres":{"type":"integer","format":"int32","description":"Código de Classificação do Crédito Presumido"},"gIBSCredPres":{"$ref":"#/components/schemas/IBSCBSCreditoPresumidoDomain","description":"Grupo de Informações do Crédito Presumido referente ao IBS"},"gCBSCredPres":{"$ref":"#/components/schemas/IBSCBSCreditoPresumidoDomain","description":"Grupo de Informações do Crédito Presumido referente a CBS"}}},"DevolucaoTributosDomain":{"type":"object","properties":{"vDevTrib":{"type":"number","description":"Valor do tributo devolvido"}}},"DiferimentoDomain":{"type":"object","properties":{"pDif":{"type":"number","description":"Percentual do Diferimento"},"vDif":{"type":"number","description":"Valor do Diferimento"}}},"EstornoCreditoDomain":{"type":"object","properties":{"vIBSEstCred":{"type":"number","description":"Valor do IBS a ser estornado"},"vCBSEstCred":{"type":"number","description":"Valor da CBS a ser estornada"}}},"GrupoIBSCBSDomain":{"type":"object","properties":{"vBC":{"type":"number","description":"Base de cálculo do IBS e CBS"},"gIBSUF":{"$ref":"#/components/schemas/IBSUFDomain","description":"Grupo de Informações do IBS para a UF"},"gIBSMun":{"$ref":"#/components/schemas/IBSMunDomain","description":"Grupo de Informações do IBS para o município"},"vIBS":{"type":"number","description":"Valor do IBS"},"gCBS":{"$ref":"#/components/schemas/CBSDomain","description":"Grupo de Informações da CBS"},"gTribRegular":{"$ref":"#/components/schemas/TributacaoRegularDomain","description":"Grupo de Informações da Tributação Regular"},"gTribCompraGov":{"$ref":"#/components/schemas/TributacaoCompraGovernamentalDomain","description":"Grupo de informações da composição do valor do IBS e da CBS em compras governamentais"}}},"IBSCBSCreditoPresumidoDomain":{"type":"object","properties":{"pCredPres":{"type":"number","description":"Percentual do Crédito Presumido"},"vCredPres":{"type":"number","description":"Valor do Crédito Presumido"},"vCredPresCondSus":{"type":"number","description":"Valor do Crédito Presumido em condição suspensiva"}}},"IBSCBSDomain":{"type":"object","properties":{"CST":{"type":"string","description":"Código de Situação Tributária do IBS e CBS"},"cClassTrib":{"type":"string","description":"Código de Classificação Tributária do IBS e CBS"},"indDoacao":{"type":"integer","format":"int32","description":"Indica a natureza da operação de doação, orientando a apuração e a geração de débitos ou estornos conforme o cenário"},"gIBSCBS":{"$ref":"#/components/schemas/GrupoIBSCBSDomain","description":"Grupo de Informações do IBS e da CBS"},"gIBSCBSMono":{"$ref":"#/components/schemas/MonofasiaDomain","description":"Grupo de Informações do IBS e CBS em operações com imposto monofásico"},"gTransfCred":{"$ref":"#/components/schemas/TransferenciaCreditoDomain","description":"Transferências de Crédito"},"gAjusteCompet":{"$ref":"#/components/schemas/AjusteCompetenciaDomain","description":"Ajuste de competência"},"gEstornoCred":{"$ref":"#/components/schemas/EstornoCreditoDomain","description":"Estorno de crédito"},"gCredPresOper":{"$ref":"#/components/schemas/CreditoPresumidoOperacaoDomain","description":"Crédito presumido da Operação"},"gCredPresIBSZFM":{"$ref":"#/components/schemas/CreditoPresumidoIBSZFMDomain","description":"Informações do crédito presumido de IBS para fornecimentos a partir da ZFM"}}},"IBSCBSTotalDomain":{"type":"object","properties":{"vBCIBSCBS":{"type":"number","description":"Valor total da BC do IBS e da CBS"},"gIBS":{"$ref":"#/components/schemas/IBSTotalDomain","description":"Grupo total do IBS"},"gCBS":{"$ref":"#/components/schemas/CBSTotalDomain","description":"Grupo total da CBS"},"gMono":{"$ref":"#/components/schemas/MonofasiaTotalDomain","description":"Grupo total da Monofasia"},"gEstornoCred":{"$ref":"#/components/schemas/EstornoCreditoDomain","description":"Grupo total do Estorno de Crédito"}}},"IBSMunDomain":{"type":"object","properties":{"pIBSMun":{"type":"number","description":"Alíquota do IBS de competência do Município"},"gDif":{"$ref":"#/components/schemas/DiferimentoDomain","description":"Grupo de Informações do Diferimento"},"gDevTrib":{"$ref":"#/components/schemas/DevolucaoTributosDomain","description":"Grupo de Informações da devolução de tributos"},"gRed":{"$ref":"#/components/schemas/ReducaoAliquotaDomain","description":"Grupo de Informações da redução da alíquota"},"vIBSMun":{"type":"number","description":"Valor do IBS de competência do Município"},"memoriaCalculo":{"type":"string","description":"Memória de Cálculo"}}},"IBSMunTotalDomain":{"type":"object","properties":{"vDif":{"type":"number","description":"Valor total do diferimento"},"vDevTrib":{"type":"number","description":"Valor total de devolução de tributos"},"vIBSMun":{"type":"number","description":"Valor total do IBS do Município"}}},"IBSTotalDomain":{"type":"object","properties":{"gIBSUF":{"$ref":"#/components/schemas/IBSUFTotalDomain","description":"Grupo total do IBS da UF"},"gIBSMun":{"$ref":"#/components/schemas/IBSMunTotalDomain","description":"Grupo total do IBS do Município"},"vIBS":{"type":"number","description":"Valor total do IBS"},"vCredPres":{"type":"number","description":"Valor total do crédito presumido"},"vCredPresCondSus":{"type":"number","description":"Valor total do crédito presumido em condição suspensiva"}}},"IBSUFDomain":{"type":"object","properties":{"pIBSUF":{"type":"number","description":"Alíquota do IBS de competência das UF"},"gDif":{"$ref":"#/components/schemas/DiferimentoDomain","description":"Grupo de Informações do Diferimento"},"gDevTrib":{"$ref":"#/components/schemas/DevolucaoTributosDomain","description":"Grupo de Informações da devolução de tributos"},"gRed":{"$ref":"#/components/schemas/ReducaoAliquotaDomain","description":"Grupo de Informações da redução da alíquota"},"vIBSUF":{"type":"number","description":"Valor do IBS de competência da UF"},"memoriaCalculo":{"type":"string","description":"Memória de Cálculo"}}},"IBSUFTotalDomain":{"type":"object","properties":{"vDif":{"type":"number","description":"Valor total do diferimento"},"vDevTrib":{"type":"number","description":"Valor total de devolução de tributos"},"vIBSUF":{"type":"number","description":"Valor total do IBS da UF"}}},"ImpostoSeletivoDomain":{"type":"object","properties":{"CSTIS":{"type":"string","description":"Código de Situação Tributária do Imposto Seletivo"},"cClassTribIS":{"type":"string","description":"Código de Classificação Tributária do Imposto Seletivo"},"vBCIS":{"type":"number","description":"Valor da Base de Cálculo do Imposto Seletivo"},"pIS":{"type":"number","description":"Alíquota do Imposto Seletivo"},"pISEspec":{"type":"number","description":"Alíquota específica por unidade de medida apropriada"},"uTrib":{"type":"string","description":"Unidade de Medida Tributável"},"qTrib":{"type":"number","description":"Quantidade Tributável"},"vIS":{"type":"number","description":"Valor do Imposto Seletivo"},"memoriaCalculo":{"type":"string","description":"Memória de Cálculo"}}},"ImpostoSeletivoTotalDomain":{"type":"object","properties":{"vIS":{"type":"number","description":"Total do imposto seletivo"}}},"MonofasiaDiferimentoDomain":{"type":"object","properties":{"pDifIBS":{"type":"number","description":"Percentual do diferimento do imposto monofásico do IBS"},"vIBSMonoDif":{"type":"number","description":"Valor do IBS monofásico diferido"},"pDifCBS":{"type":"number","description":"Percentual do diferimento do imposto monofásico da CBS"},"vCBSMonoDif":{"type":"number","description":"Valor da CBS monofásica diferida"}}},"MonofasiaDomain":{"type":"object","properties":{"gMonoPadrao":{"$ref":"#/components/schemas/MonofasiaPadraoDomain","description":"Grupo de informações da Tributação Monofásica Padrão"},"gMonoReten":{"$ref":"#/components/schemas/MonofasiaRetencaoDomain","description":"Grupo de informações da Tributação Monofásica Sujeita à Retenção"},"gMonoRet":{"$ref":"#/components/schemas/MonofasiaRetidoAnteriormenteDomain","description":"Grupo de informações da Tributação Monofásica Retida Anteriormente"},"gMonoDif":{"$ref":"#/components/schemas/MonofasiaDiferimentoDomain","description":"Grupo de informações do Diferimento da Tributação Monofásica"},"vTotIBSMonoItem":{"type":"number","description":"Total de IBS monofásico"},"vTotCBSMonoItem":{"type":"number","description":"Total de CBS monofásica"}}},"MonofasiaPadraoDomain":{"type":"object","properties":{"qBCMono":{"type":"number","description":"Quantidade tributada na monofasia"},"adRemIBS":{"type":"number","description":"Alíquota ad rem do IBS"},"adRemCBS":{"type":"number","description":"Alíquota ad rem da CBS"},"vIBSMono":{"type":"number","description":"Valor do IBS monofásico"},"vCBSMono":{"type":"number","description":"Valor da CBS monofásica"}}},"MonofasiaRetencaoDomain":{"type":"object","properties":{"qBCMonoReten":{"type":"number","description":"Quantidade tributada sujeita à retenção na monofasia"},"adRemIBSReten":{"type":"number","description":"Alíquota ad rem do IBS sujeito a retenção"},"vIBSMonoReten":{"type":"number","description":"Valor do IBS monofásico sujeito a retenção"},"adRemCBSReten":{"type":"number","description":"Alíquota ad rem da CBS sujeita a retenção"},"vCBSMonoReten":{"type":"number","description":"Valor da CBS monofásica sujeita a retenção"}}},"MonofasiaRetidoAnteriormenteDomain":{"type":"object","properties":{"qBCMonoRet":{"type":"number","description":"Quantidade tributada retida anteriormente"},"adRemIBSRet":{"type":"number","description":"Alíquota ad rem do IBS retido anteriormente"},"vIBSMonoRet":{"type":"number","description":"Valor do IBS retido anteriormente"},"adRemCBSRet":{"type":"number","description":"Alíquota ad rem da CBS retida anteriormente"},"vCBSMonoRet":{"type":"number","description":"Valor da CBS retida anteriormente"}}},"MonofasiaTotalDomain":{"type":"object","properties":{"vIBSMono":{"type":"number","description":"Total do IBS monofásico"},"vCBSMono":{"type":"number","description":"Total da CBS monofásica"},"vIBSMonoReten":{"type":"number","description":"Total do IBS monofásico sujeito a retenção"},"vCBSMonoReten":{"type":"number","description":"Total da CBS monofásica sujeita a retenção"},"vIBSMonoRet":{"type":"number","description":"Total do IBS monofásico retido anteriormente"},"vCBSMonoRet":{"type":"number","description":"Total da CBS monofásica retida anteriormente"}}},"ObjetoDomain":{"type":"object","properties":{"nObj":{"type":"integer","format":"int32"},"tribCalc":{"$ref":"#/components/schemas/TributosDomain"}}},"ROCDomain":{"type":"object","properties":{"objetos":{"type":"array","items":{"$ref":"#/components/schemas/ObjetoDomain"}},"total":{"$ref":"#/components/schemas/ValoresTotaisDomain"}}},"ReducaoAliquotaDomain":{"type":"object","properties":{"pRedAliq":{"type":"number","description":"Percentual da redução de alíquota do cClassTrib"},"pAliqEfet":{"type":"number","description":"Alíquota Efetiva que será aplicada a Base de Cálculo"}}},"TransferenciaCreditoDomain":{"type":"object","properties":{"vIBS":{"type":"number","description":"Valor do IBS a ser transferido"},"vCBS":{"type":"number","description":"Valor da CBS a ser transferida"}}},"TributacaoCompraGovernamentalDomain":{"type":"object","properties":{"pAliqIBSUF":{"type":"number","description":"Alíquota do IBS de competência do Estado"},"vTribIBSUF":{"type":"number","description":"Valor do Tributo do IBS da UF calculado"},"pAliqIBSMun":{"type":"number","description":"Alíquota do IBS de competência do Município"},"vTribIBSMun":{"type":"number","description":"Valor do Tributo do IBS do Município calculado"},"pAliqCBS":{"type":"number","description":"Alíquota da CBS"},"vTribCBS":{"type":"number","description":"Valor do Tributo da CBS calculado"}}},"TributacaoRegularDomain":{"type":"object","properties":{"CSTReg":{"type":"string","description":"Código de Situação Tributária do IBS e CBS"},"cClassTribReg":{"type":"string","description":"Código de Classificação Tributária do IBS e CBS"},"pAliqEfetRegIBSUF":{"type":"number","description":"Valor da alíquota do IBS da UF"},"vTribRegIBSUF":{"type":"number","description":"Valor do Tributo do IBS da UF"},"pAliqEfetRegIBSMun":{"type":"number","description":"Valor da alíquota do IBS do Município"},"vTribRegIBSMun":{"type":"number","description":"Valor do Tributo do IBS do Município"},"pAliqEfetRegCBS":{"type":"number","description":"Valor da alíquota da CBS"},"vTribRegCBS":{"type":"number","description":"Valor do Tributo da CBS"}}},"TributosDomain":{"type":"object","properties":{"IS":{"$ref":"#/components/schemas/ImpostoSeletivoDomain","description":"Informações do Imposto Seletivo"},"IBSCBS":{"$ref":"#/components/schemas/IBSCBSDomain","description":"Informações do Imposto de Bens e Serviços - IBS e da Contribuição de Bens e Serviços - CBS"}}},"TributosTotaisDomain":{"type":"object","properties":{"ISTot":{"$ref":"#/components/schemas/ImpostoSeletivoTotalDomain","description":"Grupo total do imposto seletivo"},"IBSCBSTot":{"$ref":"#/components/schemas/IBSCBSTotalDomain","description":"Totais com IBS e CBS"}}},"ValoresTotaisDomain":{"type":"object","properties":{"tribCalc":{"$ref":"#/components/schemas/TributosTotaisDomain"}}},"ImpostoSeletivoInput":{"type":"object","properties":{"cst":{"type":"string","description":"Código da situação tributária","example":"000","maxLength":3,"minLength":3,"pattern":"\\d+"},"baseCalculo":{"type":"number","description":"Base de cálculo do imposto","example":200.0},"quantidade":{"type":"number","description":"Quantidade","example":1},"unidade":{"type":"string","description":"Unidade de medida","example":"LT"},"impostoInformado":{"type":"number","description":"Imposto Seletivo informado pelo contribuinte","example":12.0},"cClassTrib":{"type":"string","description":"Código da classificação tributária","example":"000000","maxLength":6,"minLength":6,"pattern":"\\d+"}},"required":["baseCalculo","cClassTrib","cst","impostoInformado"]},"ItemOperacaoInput":{"type":"object","properties":{"numero":{"type":"integer","format":"int32","description":"Número do Item","example":1,"maximum":9999999,"minimum":1},"ncm":{"type":"string","description":"Código NCM","example":24021000},"nbs":{"type":"string","description":"Código NBS","example":109052100},"cst":{"type":"string","description":"Código de situação tributária","example":"000","maxLength":3,"minLength":3,"pattern":"\\d+"},"baseCalculo":{"type":"number","description":"Base de cálculo do imposto","example":200.0},"quantidade":{"type":"number","description":"Quantidade","example":1},"unidade":{"type":"string","description":"Unidade de medida","example":"LT"},"impostoSeletivo":{"$ref":"#/components/schemas/ImpostoSeletivoInput","description":"Informações do Imposto Seletivo"},"tributacaoRegular":{"$ref":"#/components/schemas/TributacaoRegularInput","description":"Informações sobre tributação regular"},"cClassTrib":{"type":"string","description":"Código de classificação tributária","example":"000001","maxLength":6,"minLength":6,"pattern":"\\d+"}},"required":["cClassTrib","cst","numero"]},"OperacaoInput":{"type":"object","properties":{"id":{"type":"string","description":"Identificador do ROC","example":"6194602ea71cbf9431c236de4409d920"},"versao":{"type":"string","description":"Versão do ROC","example":"0.0.1"},"dhFatoGerador":{"type":"string","format":"date-time","description":"Data e hora do fato gerador no formato UTC","example":"2026-01-01T09:50:05-03:00"},"dataHoraEmissao":{"type":"string","format":"date-time","deprecated":true,"description":"<u><<<<b>ATENÇÃO</b>>>><p>ESTE CAMPO SERÁ REMOVIDO EM FUTURO PRÓXIMO</p><p>Informar <b>dhFatoGerador</b></u></p><p>Data e hora de emissão do documento no formato UTC</p>","example":"2026-01-01T09:50:05-03:00"},"municipio":{"type":"integer","format":"int64","description":"Código do Município (tabela IBGE)","example":4314902,"maximum":9999999,"minimum":0},"uf":{"type":"string","description":"Sigla da UF","example":"RS","maxLength":2,"minLength":2},"itens":{"type":"array","description":"Itens da Operação","items":{"$ref":"#/components/schemas/ItemOperacaoInput"},"minItems":1}},"required":["id","itens","municipio","versao"]},"TributacaoRegularInput":{"type":"object","properties":{"cst":{"type":"string","description":"Código da situação tributária","example":"000","maxLength":3,"minLength":3,"pattern":"\\d+"},"cClassTrib":{"type":"string","description":"Código da classificação tributária","example":"000000","maxLength":6,"minLength":6,"pattern":"\\d+"}},"required":["cClassTrib","cst"]},"PedagioInput":{"type":"object","properties":{"dataHoraEmissao":{"type":"string","format":"date-time","description":"Data e hora de emissão do documento no formato UTC","example":"2027-01-01T09:50:05-03:00"},"codigoMunicipioOrigem":{"type":"integer","format":"int64","description":"Código do Município (tabela IBGE)","example":4314902,"maximum":9999999,"minimum":0},"ufMunicipioOrigem":{"type":"string","description":"Sigla da UF","example":"RS","maxLength":2,"minLength":2},"cst":{"type":"string","description":"Código de situação tributária","example":"000","maxLength":3,"minLength":3},"baseCalculo":{"type":"number","description":"Base de cálculo do imposto","example":200.0},"trechos":{"type":"array","description":"Trechos do pedágio","items":{"$ref":"#/components/schemas/TrechoPedagioInput"},"minItems":1},"cclassTrib":{"type":"string"},"cClassTrib":{"type":"string","description":"Código de classificação tributária","example":"000002","maxLength":6,"minLength":6}},"required":["baseCalculo","cClassTrib","codigoMunicipioOrigem","cst","dataHoraEmissao","trechos","ufMunicipioOrigem"]},"TrechoPedagioInput":{"type":"object","properties":{"numero":{"type":"integer","format":"int32","description":"Número do Trecho","example":1},"municipio":{"type":"integer","format":"int64","description":"Código do Município (tabela IBGE)","example":4314902,"maximum":9999999,"minimum":0},"uf":{"type":"string","description":"Sigla da UF","example":"RS","maxLength":2,"minLength":2},"extensao":{"type":"number","description":"Extensão do trecho","example":10}},"required":["extensao","municipio","numero","uf"]},"PedagioOutput":{"type":"object","properties":{"dataHoraEmissao":{"type":"string","format":"date-time","description":"Data e hora de emissão do documento no formato UTC","example":"2027-01-01T09:50:05-03:00"},"municipioOrigem":{"type":"integer","format":"int64","description":"Código do Município (tabela IBGE)","example":4314902},"ufMunicipioOrigem":{"type":"string","description":"Sigla da UF","example":"RS"},"cst":{"type":"string","description":"Código de situação tributária","example":"000","maxLength":3,"minLength":3},"baseCalculo":{"type":"number","description":"Base de cálculo","example":200.0},"extensaoTotal":{"type":"number","description":"Extensão total (km)","example":200.0},"trechos":{"type":"array","description":"Trechos do pedágio","items":{"$ref":"#/components/schemas/TrechoPedagioOutput"}},"total":{"$ref":"#/components/schemas/TotalPedagioOutput","description":"Total de tributo calculado"},"cClassTrib":{"type":"string","description":"Código de classificação tributária","example":"000001","maxLength":6,"minLength":6}}},"TotalPedagioOutput":{"type":"object","properties":{"cbsTotal":{"$ref":"#/components/schemas/TributoTotalPedagioOutput","description":"Total de CBS apurado"},"ibsEstadualTotal":{"$ref":"#/components/schemas/TributoTotalPedagioOutput","description":"Total de IBS Estadual apurado"},"ibsMunicipalTotal":{"$ref":"#/components/schemas/TributoTotalPedagioOutput","description":"Total de IBS Municipal apurado"}}},"TrechoPedagioOutput":{"type":"object","properties":{"numero":{"type":"integer","format":"int32","description":"Número do Item","example":1},"municipio":{"type":"integer","format":"int64","description":"Código do Município (tabela IBGE)","example":4314902},"uf":{"type":"string","description":"Sigla da UF","example":"RS"},"baseCalculo":{"type":"number","description":"Base de cálculo do imposto","example":200.0},"extensaoTrecho":{"type":"number","description":"Extensao do trecho","example":20},"extensaoTotal":{"type":"number","description":"Extensao total","example":50},"cbs":{"$ref":"#/components/schemas/TributoPedagioOutput","description":"Informações do CBS"},"ibsEstadual":{"$ref":"#/components/schemas/TributoPedagioOutput","description":"Informações do IBS Estadual"},"ibsMunicipal":{"$ref":"#/components/schemas/TributoPedagioOutput","description":"Informações do IBS Municipal"}}},"TributoPedagioOutput":{"type":"object","properties":{"aliquota":{"type":"number","description":"Alíquota","example":0.5},"aliquotaEfetiva":{"type":"number","description":"Alíquota efetiva","example":0.5},"tributoCalculado":{"type":"number","description":"Tributo calculado","example":0.75},"memoriaCalculo":{"type":"string","description":"Descrição do processo de cálculo","example":"Texto descritivo"}}},"TributoTotalPedagioOutput":{"type":"object","properties":{"baseCalculo":{"type":"number","description":"Base de cálculo do imposto","example":200.0},"valorApurado":{"type":"number","description":"Valor de imposto apurado","example":0.75},"valorDevido":{"type":"number","description":"Valor de imposto devido","example":0.75},"valorTributo":{"type":"number","description":"Valor do tributo","example":0.75},"totalMontanteDesonerado":{"type":"number","description":"Total do montante desonerado","example":10.22}}},"NfseBaseCalculoInput":{"type":"object","properties":{"anoFatoGerador":{"type":"integer","format":"int32","description":"Ano do Fato Gerador","example":2026},"valorServico":{"type":"number","description":"Valor do Serviço","example":105.0},"descontoIncondicional":{"type":"number","default":"0.00","description":"Desconto Incondicional","example":5.0},"vCalcReeRepRes":{"type":"number","default":"0.00","description":"Valor monetário (R$) total relativo ao fornecimento próprio de bens materiais ou relacionados a operações de terceiros, objeto de reembolso, repasse ou ressarcimento pelo recebedor, já tributados e aqui referenciados e que não integram da base de cálculo (BC) do ISSQN, do IBS e da CBS.","example":5.0},"vCalcDedRedIBSCBS":{"type":"number","default":"0.00","description":"Valor monetário (R$) total relativo aos valores de dedução e redução da Base de Cálculo do IBS e da CBS referentes às operações de locação, cessão onerosa ou arrendamento de bens imóveis, e serviços médicos.","example":5.0},"iss":{"type":"number","default":"0.00","description":"Imposto sobre Serviços de Qualquer Natureza","example":5.0},"pis":{"type":"number","default":"0.00","description":"Programa de Integração Social","example":5.0},"cofins":{"type":"number","default":"0.00","description":"Contribuição para o Financiamento da Seguridade Social","example":5.0}},"required":["anoFatoGerador","valorServico"]},"NfseBaseCalculoOutput":{"type":"object","properties":{"baseCalculo":{"type":"number","description":"Base de cálculo da operação","example":100.55}}},"BaseCalculoISMercadoriasInput":{"type":"object","properties":{"anoFatoGerador":{"type":"integer","format":"int32","description":"Ano do Fato Gerador","example":2027},"valorBem":{"type":"number","default":"0.00","description":"Valor do bem (antes dos descontos/ajustes)","example":105.0},"ajusteAcrescimos":{"type":"number","default":"0.00","description":"Ajuste decorrentes de acréscimos","example":5.0},"juros":{"type":"number","default":"0.00","description":"Juros","example":5.0},"multas":{"type":"number","default":"0.00","description":"Multas","example":5.0},"encargos":{"type":"number","default":"0.00","description":"Encargos","example":5.0},"freteCobrado":{"type":"number","default":"0.00","description":"Frete cobrado como parte do valor da operação","example":5.0},"outrosTributos":{"type":"number","default":"0.00","description":"Tributos (exceto CBS, IBS e o próprio IS) e preços públicos, inclusive tarifas","example":5.0},"demaisImportancias":{"type":"number","default":"0.00","description":"Demais importâncias cobradas ou recebidas como parte do valor da operação, inclusive seguros e taxas","example":5.0},"icms":{"type":"number","default":"0.00","description":"ICMS","example":5.0},"iss":{"type":"number","default":"0.00","description":"ISS","example":5.0},"cosip":{"type":"number","default":"0.00","description":"COSIP","example":5.0},"ipi":{"type":"number","default":"0.00","description":"IPI","example":5.0},"descontoIncondicional":{"type":"number","default":"0.00","description":"Desconto Incondicional","example":5.0},"bonificacao":{"type":"number","default":"0.00","description":"Bonificações que constem do respectivo documento fiscal e não dependam de evento posterior, nos termos § 2º do Art. 417","example":5.0},"devolucaoVendas":{"type":"number","default":"0.00","description":"Devoluções de bens vendidos nos termos do Art. 418","example":5.0}},"required":["anoFatoGerador"]},"BaseCalculoISMercadoriasModel":{"type":"object","properties":{"baseCalculo":{"type":"number","description":"Base de cálculo da operação","example":100.55}}},"BaseCalculoCibsInput":{"type":"object","properties":{"anoFatoGerador":{"type":"integer","format":"int32","description":"Ano do Fato Gerador","example":2026},"valorBem":{"type":"number","default":"0.00","description":"Valor do Bem (antes dos descontos/ajustes)","example":105.0},"ajusteAcrescimos":{"type":"number","default":"0.00","description":"Ajuste decorrentes de acréscimos","example":5.0},"juros":{"type":"number","default":"0.00","description":"Juros","example":5.0},"multas":{"type":"number","default":"0.00","description":"Multas","example":5.0},"encargos":{"type":"number","default":"0.00","description":"Encargos","example":5.0},"frete":{"type":"number","default":"0.00","description":"Frete cobrado como parte do valor da operação","example":5.0},"impostoSeletivo":{"type":"number","default":"0.00","description":"Imposto Seletivo","example":5.0},"outrosTributos":{"type":"number","default":"0.00","description":"Outros tributos (exceto CBS e IBS) e preços públicos, inclusive tarifas","example":5.0},"demaisImportancias":{"type":"number","default":"0.00","description":"Demais importâncias cobradas ou recebidas como parte do valor da operação, inclusive seguros e taxas","example":5.0},"icms":{"type":"number","default":"0.00","description":"ICMS","example":5.0},"iss":{"type":"number","default":"0.00","description":"ISS","example":5.0},"pis":{"type":"number","default":"0.00","description":"PIS","example":5.0},"pisImportacao":{"type":"number","default":"0.00","description":"PIS Importação","example":5.0},"cofins":{"type":"number","default":"0.00","description":"COFINS","example":5.0},"cofinsImportacao":{"type":"number","default":"0.00","description":"COFINS Importação","example":5.0},"cosip":{"type":"number","default":"0.00","description":"COSIP","example":5.0},"ipi":{"type":"number","default":"0.00","description":"IPI","example":5.0},"descontoIncondicional":{"type":"number","default":"0.00","description":"Desconto Incondicional","example":5.0}},"required":["anoFatoGerador"]},"TipoDocumentoDTO":{"type":"object","properties":{"nome":{"type":"string"},"mnemonico":{"type":"string"},"versaoNotaTecnica":{"type":"string"}}},"VersaoOutput":{"type":"object","properties":{"versaoApp":{"type":"string","description":"Versão do aplicativo","example":"0.0.0-SNAPSHOT"},"versaoDb":{"type":"string","description":"Versão do banco de dados","example":"1.0.0"},"descricaoVersaoDb":{"type":"string","description":"Descrição da versão do banco de dados","example":"Versão de homologação"},"dataVersaoDb":{"type":"string","description":"Data da versão do banco de dados","example":"2026-01-01"},"ambiente":{"type":"string","description":"Ambiente da aplicação","example":"Online"}}},"UfDadosAbertosOutput":{"type":"object","properties":{"sigla":{"type":"string","description":"Sigla da UF","example":"RS"},"nome":{"type":"string","description":"Nome da UF","example":"Rio Grande do Sul"},"codigo":{"type":"integer","format":"int64","description":"Código IBGE da UF","example":43}}},"MunicipioDadosAbertosOutput":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código IBGE do Município","example":4314902},"nome":{"type":"string","description":"Nome do município","example":"Porto Alegre"}}},"SituacaoTributariaDadosAbertosOutput":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador único da situacao tributária","example":0},"codigo":{"type":"string","description":"Código da situacao tributária","example":"000"},"descricao":{"type":"string","description":"Descricao da situacao tributária","example":"Tributação Integral"}}},"NcmDadosAbertosOutput":{"type":"object","properties":{"tributadoPeloImpostoSeletivo":{"type":"boolean","description":"Tributado pelo Imposto Seletivo"},"aliquotaAdValorem":{"type":"number","description":"Alíquota ad valorem do Imposto Seletivo"},"aliquotaAdRem":{"type":"number","description":"Alíquota ad rem do Imposto Seletivo"},"capitulo":{"type":"string","description":"Capítulo da NCM"},"posicao":{"type":"string","description":"Posição da NCM"},"subposicao":{"type":"string","description":"Subposição da NCM"},"item":{"type":"string","description":"Item da NCM"},"subitem":{"type":"string","description":"Subitem da NCM"},"unidade":{"type":"string","description":"Unidade da NCM"}}},"NbsDadosAbertosOutput":{"type":"object","properties":{"tributadoPeloImpostoSeletivo":{"type":"boolean","description":"Tributado pelo Imposto Seletivo"},"aliquotaAdValorem":{"type":"number","description":"Alíquota ad valorem do Imposto Seletivo"},"capitulo":{"type":"string","description":"Capítulo da NBS"},"posicao":{"type":"string","description":"Posição da NBS"},"subposicao1":{"type":"string","description":"Subposição 1 da NBS"},"subposicao2":{"type":"string","description":"Subposição 2 da NBS"},"item":{"type":"string","description":"Item da NBS"}}},"FundamentacaoClassificacaoDadosAbertosOutput":{"type":"object","properties":{"codigoClassificacaoTributaria":{"type":"string","description":"Código da classificação tributária vinculada à fundamentacao legal","example":"000001"},"descricaoClassificacaoTributaria":{"type":"string","description":"Descrição da classificação tributária vinculada à fundamentacao legal","example":"000001"},"codigoSituacaoTributaria":{"type":"string","description":"Código da situação tributária vinculada à fundamentacao legal","example":"000001"},"descricaoSituacaoTributaria":{"type":"string","description":"Descrição da situação tributária vinculada à fundamentacao legal","example":"000001"},"conjuntoTributo":{"type":"string","description":"Tributo(s) vinculado(s) à fundamentacao legal","example":"CBS e IBS"},"texto":{"type":"string","description":"Texto da fundamentação legal"},"textoCurto":{"type":"string","description":"Texto curto da fundamentação legal"},"referenciaNormativa":{"type":"string","description":"Referência normativa da fundamentação legal"}}},"ClassificacaoTributariaDadosAbertosOutput":{"type":"object","properties":{"codigo":{"type":"string","description":"Código da classificação tributária","example":"000001"},"descricao":{"type":"string","description":"Descrição da classificação tributária"},"tipoAliquota":{"type":"string","description":"Tipo de alíquota da classificação tributária"},"nomenclatura":{"type":"string","description":"Nomenclatura da classificação tributária"},"descricaoTratamentoTributario":{"type":"string","description":"Descrição do tratamento tributário da classificação tributária"},"incompativelComSuspensao":{"type":"boolean"},"exigeGrupoDesoneracao":{"type":"boolean"},"possuiPercentualReducao":{"type":"boolean"},"indicaApropriacaoCreditoAdquirenteCbs":{"type":"boolean"},"indicaApropriacaoCreditoAdquirenteIbs":{"type":"boolean"},"indicaCreditoPresumidoFornecedor":{"type":"boolean"},"indicaCreditoPresumidoAdquirente":{"type":"boolean"},"creditoOperacaoAntecedente":{"type":"string"},"percentualReducaoCbs":{"type":"number"},"percentualReducaoIbsUf":{"type":"number"},"percentualReducaoIbsMun":{"type":"number"},"tiposDfeClassificacao":{"type":"array","items":{"$ref":"#/components/schemas/TipoDfeClassificacaoDadosAbertosOutput"}},"dataAtualizacao":{"type":"string","format":"date","description":"Data de atualização da classificação tributária (YYYY-MM-DD)","example":"2025-12-15"}}},"TipoDfeClassificacaoDadosAbertosOutput":{"type":"object","properties":{"tipo":{"type":"integer","format":"int32","description":"Tipo de DFE","example":55},"sigla":{"type":"string","description":"Sigla do DFE","example":"NF-e"},"descricao":{"type":"string","description":"Descrição do DFE","example":"Documento Fiscal Eletrônico"}}},"ValidadeDfeClassificacaoTributariaDadosAbertosOutput":{"type":"object","properties":{"siglaDfeInformado":{"type":"string","description":"Sigla do DFE informado","example":"NFSe"},"validoParaSiglaDfeInformado":{"type":"boolean","description":"Indica se a classificação tributária é válida para a sigla do DFE informado","example":true},"nomenclatura":{"type":"string","description":"Nomenclatura da classificação tributária informada","example":"NBS ou NCM"},"exigeGrupoTributacaoRegular":{"type":"boolean","description":"Indica se a classificação tributária exige grupo de tributação regular","example":false},"permiteDiferimento":{"type":"boolean","description":"Indica se a classificação tributária permite diferimento","example":false}}},"AliquotaDadosAbertosOutput":{"type":"object","properties":{"aliquotaReferencia":{"type":"number","description":"Alíquota de referência","example":0},"aliquotaPropria":{"type":"number","description":"Alíquota própria","example":0},"formaAplicacao":{"type":"string","description":"Forma de aplicação da alíquota própria em relação à alíquota de referência","enum":["SUBSTITUICAO","ACRESCIMO","DECRESCIMO"],"example":"ACRESCIMO"}}}}}}